.item {
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    scroll-snap-align: start;
}

/* this block of code is to let the title in the center*/
.item__container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item__text {
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #393c41;
    font-size: 34px;
    flex: 1;
}

.item__textDesc {
    font-weight: 200;
    font-size: 14px;
}

.item__lowerThird {
    margin-bottom: 6%;
    display: flex;
    flex-direction: column;
}

.item__buttons {
    display: flex;
}

.item__expand {
    display: flex;
    color: #fff;
    width: 100%;
    margin-top: 3%;
    justify-content: center;
}

/* Mobile settings */

@media (max-width: 768px) {

    /* this block of code is to let the title in the center*/
    .item__container {
        width: 50vw;
    }
    
    .item__text {
        margin-top: 100px;
        font-size: 30px;
        font-weight: 600;
    }

}